* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 16px;
}

.Contain {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 7px;
    margin-bottom: 7px;
 
}

.Containtop {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

