*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 16px;
}

.mainContain{
width: 90%;
margin: auto;
}

.contain-box{
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.15); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
}
.carousel {
    width: 75%;
    height: 400px; 
    background-color: rgba(174, 104, 165, 0.555);
    margin: auto;
}


 img {
    width: 100%;
    height: 400px;
    object-fit: contain; 
}

.carousel-item{
    width: 100%;
}

