*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 16px;
}
.contain{
margin-top: 5px;
border-top: 1px solid rgba(0, 0, 0, 0.15); 
border-bottom: 1px solid rgba(0, 0, 0, 0.15);
padding: 10px;
}
.sleader{
    border: 1px solid gainsboro;
    width: 380px;
height:75vh;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container2{
    margin-top: 8px;
    display: flex;
    background-color: bisque;
    border-radius: 3px;
}

.reng{
    color: blue;
}
.carsparent{
    padding: 10px;
}
